@model CounterViewModel

<h1>@Model.Number</h1>

<div class="row">
    <div class="col-md-12">
        <textarea name="some-value" id="my-textarea" class="form-control" rows="20" placeholder="Enter some stuff..."></textarea>
    </div>
</div>